@{
    ViewBag.Title = "Delivery Person Login";
}
@{
    Layout = "~/Views/Shared/_DeliveryPersonLayout.cshtml";
}
<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Email")
        @Html.TextBox("email", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Password")
        @Html.Password("password", null, new { @class = "form-control" })
    </div>
    <section class="col-md-3" aria-labelledby="librariesTitle">

        <p>New Account? Register<a class="" href="@Url.Action("Register", "DeliveryPerson")">here..</a></p>
    </section>
    <button type="submit" class="btn btn-primary">Login</button>
}
